@import "../../Const.scss";

.WhiteSection {
  padding: 80px 0 0 0;
  position: relative;
  background: linear-gradient(#fff 40%, transparent 40%);
  @include breakpoint($tablet) {
    background: linear-gradient(#fff 40%, transparent 40%);
    padding: 100px 0 0 0;
  }
}