@import "../../Const.scss";

.IconsSkills {
  margin: 0 10px 50px 10px;
  @include breakpoint($tablet) {
    margin: 0 140px 100px 140px;
  }
  div {
    text-align: center;
    display: inline-block;
    margin: 0;
    width: 50%;
    margin-bottom: 60px;
    @include breakpoint($tablet) {
      margin-bottom: 0;
      width: 25%;
    }
    img {
      margin-bottom: 10px;
      width: 28px;
      @include breakpoint($tablet) {
        width: 32px;
        margin-bottom: 20px;
      }
    }
    h6 {
      color: $nl-red;
      font-size: 14px;
      @include breakpoint($tablet) {
        font-size: 16px;
      }
    }
  }
}