@import "../../Const.scss";

.PortfolioFull {
  position: relative;
  animation: colFadeIn 0s;
  animation-delay: 0.4s;
  background-color: #111;
  animation-fill-mode: both;
  z-index: 6;
  &::after {
    z-index: 5;
    content: '';
    position: fixed;
    left: 0;
    right: 100vw;
    height: 100vh;
    top: 0;
    background-color: $nl-red;
    animation: portfolioShow 0.5s ease-in;
    animation-fill-mode: both;
  }
  &::before {
    z-index: 5;
    content: '';
    position: fixed;
    left: 0;
    right: 100vw;
    height: 100vh;
    top: 0;
    background-color: $nl-blue;
    animation: portfolioShow 0.5s ease-in;
    animation-delay: 0.1s;
    animation-fill-mode: both;
  }
  .inner-PortfolioFull {
    opacity: 0;
    padding: 100px 0 0 0;
    animation: fadeIn 0s ease;
    animation-delay: 0.3s;
    animation-fill-mode: both;
    @include breakpoint($tablet) {
      padding: 120px 0 0 0;
    }
    .action {
      position: fixed;
      top: 20px;
      right: 20px;
      span {
        display: block;
        margin-bottom: 8px;
        font-size: 26px;
        cursor: pointer;
        line-height: 0.8;
        padding: 6px;
        color: $nl-black;
        background-color: $nl-light;
        @extend %fade;
        &:hover {
          color: $nl-white;
          background-color: $nl-blue;
          @extend %fade;
        }
        &.cancel {
          background-color: $nl-red;
          color: $nl-white;
          @extend %fade;
          &:hover {
            background-color: $nl-blue;
            @extend %fade;
          }
        }
      }
    }
    .AllText {
      margin-bottom: 60px;
      padding: 0 30px;
      @include breakpoint($tablet) {
        margin-bottom: 120px;
      }
      h1.name {
        max-width: 900px;
        margin-bottom: 60px;
        @include breakpoint($tablet) {
          font-size: 56px;
          margin-bottom: 80px;
        }
      }
      .body {
        display: flex;
        justify-content: left;
        flex-direction: column;
        @include breakpoint($tablet) {
          flex-direction: row;
        }
        .details {
          width: 100%;
          margin-bottom: 40px;
          @include breakpoint($tablet) {
            margin-bottom: 0;
            flex: 0 25%;
          }
          p {
            color: $nl-blue;
          }
          h6 {
            margin-bottom: 20px;
            @include breakpoint($tablet) {
              margin-bottom: 24px;
            }
          }
        }
        .paragraphs {
          margin-left: 0;
          @include breakpoint($tablet) {
            margin-left: 15%;
            flex: 0 75%;
          }
          p {
            margin-bottom: 24px;
          }
          h6 {
            a {
              color: $nl-blue;
              @extend %fade;
              &:hover {
                color: $nl-white;
                background-color: $nl-blue;
                @extend %fade;
              }
            }
          }
        }
      }
    }
    img {
      display: block;
      width: 100%;
    }
    iframe {
      width: 100vw;
      height: 55vw;
      margin: 0 auto;
      position: absolute;
      transform: translateX(-50%);
      margin-bottom: 60px;
      box-shadow: 0 8px 34px rgba(33,33,33,.63);
      left: 50%;
      @include breakpoint($tablet) {
        width: 90vw;
        height: 49vw;
        margin-bottom: 120px;
      }
    }
  }
}